.display-4.fw-bold.mb-0.mt-4 = t('.hello')
p.mb-4 = t('.courses')
h2.fw-bold = t('app_name')
p = t('.project_info')

= link_to t('.more_info'), t('.more_info_link'), class: 'btn btn-primary btn-lg px-4 mt-3 fw-bold'
