== render partial: 'mail',
          locals: { content: t('.content_html', user_name: @user.nickname, \
                                                repo_name: @repository.full_name, \
                                                repo_path: @repository.url, \
                                                check_path: @repository_check_url, \
                                                error: @error) }
